<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.collection_select :account_id, Account.all, :id, :name, { :prompt => 'Select account' } %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :patronymic %><br>
    <%= f.text_field :patronymic %>
  </div>
  <div class="field">
    <%= f.label :card %><br>
    <%= f.text_field :card %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.collection_select :doctor_id, Doctor.all, :id, :surname, { :prompt => 'Select doctor' } %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.text_field :hour %>
  </div>
  <div class="field">
    <%= f.label :minute %><br>
    <%= f.text_field :minute %>
  </div>
  <div class="field">
    <%= f.label :flag_id %><br>
    <%= f.collection_select :flag_id, Flag.all, :id, :name, { :prompt => 'Select flag' } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
