<table class="patientsRerodsTable" style="width: 100%;>
  <thead>
    <tr>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Полис</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
        <% if record.flag == accepted %>
          <tr class="commit">
            <td><%= record.surname %></td>
            <td><%= record.name %></td>
            <td><%= record.card %></td>
            <td><input type="button" id="record_<%= record.id %>" class="commit" value="На печать" /></td>
          </tr>
        <% elsif record.flag == rejected %>
          <tr class="cancel">
            <td><%= record.surname %></td>
            <td><%= record.name %></td>
            <td><%= record.card %></td>
	    <td><textarea name="comment" id="record_<%= record.id %>" cols="40" rows="3" disabled="disabled"><%= record.description %></textarea></td>
          </tr>
        <% elsif record.flag == awaiting %>
          <tr class="wait">
            <td><%= record.surname %></td>
            <td><%= record.name %></td>
            <td><%= record.card %></td>
            <td><input type="button" id="record_<%= record.id %>" class="wait" value="Удалить" /></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<script type="text/javascript" defer="defer">
    initWait();
    initCommit();
    initCancel();
</script>
